<% provide(:title, @user.first_name + " " + @user.last_name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.first_name %> <%= @user.last_name %>
			</h1>
			<small>Member since <%= @user.created_at.strftime("%B %d, %Y") %></small>
		</section>
		<% if @user == current_user %>
			<!-- Button trigger modal -->
			<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
			  Create new trip
			</button>
			<%= render 'shared/new_trip_modal' %>
		<% end %>
	</aside>
	<div class="col-md-8">
		<% if @user.trips.any? %>
			<h3>Trips (<%= @user.trips.count %>)</h3>
			<ol class="trips">
				<%= render @trips %>
			</ol>
			<%= will_paginate @trips %>
		<% else %>
			<h4><em><%= @user.first_name %> has not created any trips yet.</em></h4>
		<% end %>
	</div>
</div>